<section class="py-3" id="personal-statement"
  [ngStyle]="{'background-blend-mode': 'multiply', 'background': 'rgba(44,62,80,1) url(assets/images/email-pattern.png)'}">
  <div style="height: 350px" class="block w-100 container">
    <h1>Developer, Dreamer</h1>
    <p class="leader">There must be a reason to want to wake up everyday</p>
    <div class="row">
      <p class="lead text-center">
        <strong>As a Developer,</strong> I want to be part of what brings change to this
        world; Making the world better, or create something exciting for
        everyone to look forward to.
      </p>

    </div>
    <br><br>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 d-flex justify-content-around">
        <div class="box-3">
          <div class="btn btn-three">
            <span>View My Experience</span>
          </div>
        </div>
        <div class="box-3">
          <div class="btn btn-three">
            <span>View My Projects</span>
          </div>
        </div>
      </div>

      <div class="col-3"></div>
    </div>



  </div>
</section>
