<section class="py-3" id="personal-statement" [ngStyle]="{'background-image': 'url(assets/images/email-pattern.png)'}">
  <div style="height: 500px" class="block w-100 container">
    <div class="pt-2 text-center display-4">A Little Bit About Me</div>
    <hr class="style-seven">
    <div class="row">

      <div class="col-6">
        <img class="img-fluid" src="{{'assets/images/mpa_award.png'}}">
      </div>
      <div class="col-6">
        <p class="lead text-justify">As humans, we reap the ability to use technology to better our lives, to chase
          after more. However, in chasing
          more, we place immense stress on ourselves, increase our workload faster than what technology can replace.
          However, the process of automation continues and more of our manual processes are replaced at an incredible
          rate.
          As a developer, I want to be part of the builders that made life easier for the rest of us.</p>
      </div>
    </div>

  </div>
</section>