.header {
    background-color: 
    #3F51B5
}
.introduction{
    color:white;
    width:fit-content;
    margin: 0 auto;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.social-media a{
    color:white;
    font-size: 30px;
    padding-right: 15px;
}