<header class="w-100 header" style="height:500px;">

  <div class="row">
    <div class="col-7 vertical-center">
      <div class="pt-3 container">
        <div class="introduction">
          <small class="subtitle">Hello there!</small>
          <div class="display-4"> I am Pereira Yip</div>
          <div class="titles">Developer | Junior @ NUS </div>
          <br>
          <div class="social-media">
            <a href="mailto:d.x.pereirayip@gmail.com">
              <i class="fas fa-envelope"></i>
            </a>
            <a href="skype:live:.cid.84ae12f84b49310e?add">
              <i class="fab fa-fw fa-skype"></i>
            </a>
            <a href="https://www.facebook.com/pereira.yip">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/pereirayip">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/yippira">
              <i class="fab fa-instagram"></i>
            </a>


          </div>

          <br>
          <br>
          <br>

          <a style="text-decoration: none;" href="{{'assets/resume/Pereira Yip Ding Xian_Resume.pdf'}}" mat-raised-button color="primary">View My Resume</a>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="col-5 secondary-bg">
      <div style="width:450px;">
        <img class="img-fluid" src="{{'assets/images/photo_avatar_3.png'}}">
      </div>
    </div>
  </div>




</header>