footer{
    background:  rgb(44, 62, 80);
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #fff;
}

.btn-social{
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
}


.btn{
    border-width: 2px;
}