<!-- <form name="contactform" method="post" (ngSubmit)="assets/email.php">
    <table width="450px">
        <tr>
            <td valign="top">
                <label for="first_name">First Name *</label>
            </td>
            <td valign="top">
                <input type="text" name="first_name" maxlength="50" size="30">
            </td>
        </tr>
        <tr>
            <td valign="top">
      <label for=" last_name">Last Name *</label>
            </td>
            <td valign="top">
                <input type="text" name="last_name" maxlength="50" size="30">
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label for="email">Email Address *</label>
            </td>
            <td valign="top">
                <input type="text" name="email" maxlength="80" size="30">
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label for="telephone">Telephone Number</label>
            </td>
            <td valign="top">
                <input type="text" name="telephone" maxlength="30" size="30">
            </td>
        </tr>
        <tr>
            <td valign="top">
                <label for="comments">Comments *</label>
            </td>
            <td valign="top">
                <textarea name="comments" maxlength="1000" cols="25" rows="6"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Submit"> <a href="email.php">Email
                    Form</a>
            </td>
        </tr>
    </table>
</form> -->

<div class="py-5 container" id="contact">
    <div class="d-flex justify-content-center">

        <h1>Let's get in touch</h1>


    </div>
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <p class="lead text-center"> Like what you're seeing? Feel free to contact me through Email, Skype, or even
                LinkedIn!</p>


        </div>
        <div class="col-3">

        </div>

    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="social-media">
                <a href="mailto:d.x.pereirayip@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="skype:live:.cid.84ae12f84b49310e?add">
                    <i class="fab fa-fw fa-skype"></i>
                </a>

                <a href="https://www.linkedin.com/in/pereirayip">
                    <i class="fab fa-linkedin"></i>
                </a>



            </div>
            <p class="leader">I'll be happy to hear from you :)</p>
        </div>
        <div class="col-3"></div>
    </div>
</div>