#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji';
    font-weight: 500;
}

#mainNav .navbar-brand {
    color: #fff;
    font-size: 30px;
}

.navbar-nav {
    margin-top: 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #1abc9c;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover:active {
    color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active {
    color: #1abc9c;
}

.navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}

.nav-items a{
    color: #fff;
}