<section id=timeline>
  <h1>Personal Progress At A Glance</h1>
  <p class="leader">Since May 2016</p>
  <div class="demo-card-wrapper">
    <div class="demo-card demo-card--step1">
      <div class="head">
        <div class="number-box">
          <span>01</span>
        </div>
        <h2><span class="small">May 2016 | Army Days</span> Hill Slope Racing</h2>
      </div>
      <div class="body">
        <div class="content">
          <p> Before University, I started Hill Slope Racing as a tutorial to the Unity Engine in C#.
            Before long, I got very invested and completed the whole game.</p>
          <img class="card-img" src="../../assets/images/hillslope/screen-3.jpg" alt="Hill Slope">
          <p class="pt-2">
            Various algorithms were used for modeling sound, vehicle behaviour, score system
            and pathing for the level. Each level offers a new experience such as low gravity, friction.
            <br> <br>
            Players get a sense of progression by upgrading their vehicle and unlocking new levels.
          </p>
        </div>

        <div class="footer">
          <span class="tech">C#</span>
          <span class="tech">Unity Game Engine</span>
          <a class="link" href="#">Read more</a>
        </div>
        <div>

        </div>


      </div>

    </div>

    <div class="demo-card demo-card--step2">
      <div class="head">
        <div class="number-box">
          <span>02</span>
        </div>
        <h2><span class="small">Dec 2016 | First Programming Role </span> BestTours Pte Ltd</h2>
      </div>
      <div class="body">
        <div class="content">
          <p>
            My first full-time software engineer role where I learnt plenty.
            I implemented many features for the company’s
            B2C website and Admin portal.</p>
          <img class="card-img" style="display:initial; width: 50%; padding-right:5px;"
            src="../../assets/images/besttours/kioskFull.jpg" alt="BestTours Kiosk">
          <img class="card-img" style="display:initial; width: 49%;" src="../../assets/images/besttours/screen.jpg"
            alt="Best Tours Kiosk Screen">
          <p> I’ve also developed a compatible customer facing application on standalone
            Touchscreen Kiosks that were deployed in 9 different hotels.</p>
        </div>
        <div class="footer">
          <span class="tech">HTML</span>
          <span class="tech">CSS</span>
          <span class="tech">JQuery</span>
          <span class="tech">PHP</span>
          <span class="tech">MySQL</span>
          <span class="tech">Web Hosting</span>
          <span class="tech">BitBucket</span>
          <span class="tech">Ubuntu</span>
          <a class="link" href="#">Read more</a>
        </div>
      </div>
    </div>

    <div class="demo-card demo-card--step3">
      <div class="head">
        <div class="number-box">
          <span>03</span>
        </div>
        <h2><span class="small">May 2017 | Exploring horizons </span>Web Igniter Pte Ltd</h2>
      </div>
      <div class="body">
        <div class="content">
          <p>Designed and developed multiple applications including real-time chat, queuing system and websites based on
            client’s requirements
          </p>
          <p>
            Product tech stack included React-Native with Firebase for real time data, HTML CSS JQuery for static
            websites, WordPress for low-budget CMS projects
          </p>

          <img src="../../assets/images/webiginiter/webigniter.png" alt="Graphic">
          <br>
          <p>Completed several quotations and business requirement document for clients with milestone checks
            Acquired clients for the company</p>
        </div>
        <div class="footer">
          <span class="tech">HTML</span>
          <span class="tech">CSS</span>
          <span class="tech">JQuery</span>
          <span class="tech">React-Native</span>
          <span class="tech">Firebase</span>
          <span class="tech">Android Studio</span>
          <span class="tech">WordPress</span>
          <a class="link" href="#">Read more</a>
        </div>
      </div>

    </div>

    <div class="demo-card demo-card--step4">
      <div class="head">
        <div class="number-box">
          <span>04</span>
        </div>
        <h2><span class="small">June 2018 | Open-Source Initiative</span> Orbital - Capulator </h2>
      </div>
      <div class="body">
        <div class="content">
          <p>
            A one-stop target planner for setting CAP goals in NUS.
            <br>
            Received positive feedback and demand by Students
            <br>
            Highest level of achievement (Apollo) attained
          </p>
          <img src="../../assets/images/orbital/home.PNG" alt="Graphic">
          <br>
          <p>
            After market analysis and having a proof of concept, I developed this application on my own and also
            learning Laravel as a byproduct.

          </p>
          <p>Visit the website by clicking <a href="http://pure-eyrie-88983.herokuapp.com/">here!</a></p>
        </div>
        <div class="footer">
          <span class="tech">HTML</span>
          <span class="tech">PHP</span>
          <span class="tech">Laravel</span>
          <span class="tech">MySQL</span>
          <a class="link" href="#">Read more</a>
        </div>
      </div>
    </div>

    <div class="demo-card demo-card--step5">
      <div class="head">
        <div class="number-box">
          <span>05</span>
        </div>
        <h2><span class="small"> Aug 2018 | Database-knowledge </span> CrowdSourcing Site </h2>
      </div>
      <div class="body">
        <p>B2C website aimed at providing a marketplace for crowdsourcing - SQL focused web application built with PHP
          and JQuery</p>
        <img src="../../assets/images/crowdsourcing/2.PNG" alt="Graphic">
        <br>
        <p>This project served as a learning point for database side processing of data and having an advanced DBMS
          knowledge</p>
      </div>
    </div>
    <div class="demo-card demo-card--step6">
      <div class="head">
        <div class="number-box">
          <span>06</span>
        </div>
        <h2><span class="small"> Nov 2018 | Moving forward </span> Genetic Algorithm </h2>
      </div>
      <div class="body">
        <p>During the winter holidays with only 1 month, I wanted to understand and learn more on Machine Learning.
          I started off with my graph theory foundation and eventually reaching genetic algorithms.
        </p>
      </div>
    </div>

  </div>
</section>
