<div class="custom-box" id="sticky-header" [ngStyle]="{'background-blend-mode': 'multiply', 'background': 'rgba(44,62,80,1) url(assets/images/email-pattern.png)'}">
  <div class="replace-navbar navbar w-100">

    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#mainNav">Pereira Yip</a>


    </div>
    <div class="nav-items">
      <a class="px-2 py-1" href="#work">Experience</a>
      <a class="px-2 py-1" href="#timeline">Projects</a>
      <!-- <a class="px-2 py-1" href="#awards">Awards</a> -->
      <a class="px-2 py-1" href="#contact">Contact</a>
    </div>
  </div>

  <div class="original row">
    <div class="col-3"></div>
    <div class="col-6 d-flex justify-content-around">
      <a href="#work">
        <div class="box-3">
          <div class="btn btn-three">
            <span>Work Experience</span>
          </div>
        </div>
      </a>

      <a href="#contact">
        <div class="box-3">
          <div class="btn btn-three">
            <span style="font-size: 24px; font-weight:200;">Get In Touch</span>
          </div>
        </div>
      </a>
      <a href="#timeline">
        <div class="box-3">
          <div class="btn btn-three">
            <span>View my Projects</span>
          </div>
        </div>
      </a>


    </div>
    <div class="col-3"></div>
  </div>


</div>