<section id=work>
  <h1>Work Experience</h1>
  <p class="leader">Every single experience taught me so much, I simply cannot list them all</p>
  <div class="demo-card-wrapper">


    <div class="demo-card demo-card--step1">
      <div class="head">
        <div class="number-box">
          <span>01</span>
        </div>
        <h2><span class="small">Dec 2016 | First Programming Role </span> BestTours Pte Ltd</h2>
      </div>
      <div class="body">
        <div class="content">
          <p>
            My first full-time software engineer role where I learnt plenty.
            I implemented many features for the company’s
            B2C website and Admin portal.</p>
          <img class="card-img" style="display:initial; width: 50%; padding-right:5px;"
            src="{{'assets/images/besttours/kioskFull.jpg'}}" alt="BestTours Kiosk">
          <img class="card-img" style="display:initial; width: 49%;" src="{{'assets/images/besttours/screen.jpg'}}"
            alt="Best Tours Kiosk Screen">
          <p> I’ve also developed a compatible customer facing application on standalone
            Touchscreen Kiosks that were deployed in 9 different hotels.</p>
        </div>
        <div class="footer">
          <span class="tech">HTML</span>
          <span class="tech">CSS</span>
          <span class="tech">JQuery</span>
          <span class="tech">PHP</span>
          <span class="tech">MySQL</span>
          <span class="tech">Web Hosting</span>
          <span class="tech">BitBucket</span>
          <span class="tech">Ubuntu</span>
                    <!-- <a class="link" href="#">Read more</a> -->
        </div>
      </div>
    </div>

    <div class="demo-card demo-card--step2">
      <div class="head">
        <div class="number-box">
          <span>02</span>
        </div>
        <h2><span class="small">May 2017 | Exploring horizons </span>Web Igniter Pte Ltd</h2>
      </div>
      <div class="body">
        <div class="content">
          <p>Designed and developed multiple applications including real-time chat, queuing system and websites based on
            client’s requirements
          </p>
          <p>
            Product tech stack included React-Native with Firebase for real time data, HTML CSS JQuery for static
            websites, WordPress for low-budget CMS projects
          </p>

          <img src="{{'assets/images/webiginiter/webigniter.png'}}" alt="Graphic">
          <br>
          <p>Completed several quotations and business requirement document for clients with milestone checks
            Acquired clients for the company</p>
        </div>
        <div class="footer">
          <span class="tech">HTML</span>
          <span class="tech">CSS</span>
          <span class="tech">JQuery</span>
          <span class="tech">React-Native</span>
          <span class="tech">Firebase</span>
          <span class="tech">Android Studio</span>
          <span class="tech">WordPress</span>
                    <!-- <a class="link" href="#">Read more</a> -->
        </div>
      </div>

    </div>

    <div class="demo-card demo-card--step3">
      <div class="head">
        <div class="number-box">
          <span>03</span>
        </div>
        <h2><span class="small"> May 2019 | MNC Experience </span> DNV GL Singapore </h2>
      </div>
      <div class="body">
        <div class="content">
          <p>
            Summer 2019 Internship, I worked on a Maritime Blockchain application. Within 1.5 months, I've contributed
            greatly to both backend and frontend despite not knowing ASP.NET Core before this.
          </p>
          <img src="{{'assets/images/dnvgl/dnv1.png'}}" alt="Graphic">
          <small class="muted">Successful pre-alpha presentation to Keppel and LNGFuel</small>
          <p>
            Working closely with both the local and overseas team, we successfully completed a working prototype and
            demonstrated to potential clients.
          </p>
        </div>
        <div class="footer">
          <span class="tech">Angular</span>
          <span class="tech">ASP.NET Core</span>
          <span class="tech">MongoDB</span>
          <span class="tech">Docker</span>
          <span class="tech">Solidity</span>
          <span class="tech">Microsoft Azure</span>
          <span class="tech">InVision</span>
                    <!-- <a class="link" href="#">Read more</a> -->
        </div>
      </div>
    </div>

    <div class="demo-card demo-card--step4">
      <div class="head">
        <div class="number-box">
          <span>04</span>
        </div>
        <h2><span class="small"> June 2019 | To infinity & Beyond </span> DNV GL Shanghai </h2>
      </div>
      <div class="body">
        <div class="content">
          <p>I also had the opportunity to work in Shanghai for a month for a new project.

            Being the main developer, I mentored another intern and led the team to a successful MVP product.
          </p>
          <img src="{{'assets/images/dnvgl/dnv2.png'}}" alt="Graphic">
          <small class="muted">Presentation of MVP to product owners</small>
          <p>This product marks the start of the Digital Analytics Team's production of Mobile applications</p>
        </div>
        <div class="footer">
          <span class="tech">Angular</span>
          <span class="tech">ASP.NET Core</span>
          <span class="tech">MongoExpress</span>
          <span class="tech">Docker</span>
          <span class="tech">Microsoft Azure</span>
          <span class="tech">Ionic</span>
                    <!-- <a class="link" href="#">Read more</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
