/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css"; */


@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; 

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    width:50%;
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}